.main-container {

}

a {
	text-decoration: none;
}

.wide-open-tech-logo {
	float: left;
}

.main-top-container {
	background: url("http://wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg") center no-repeat;
	background-size: cover;
	position: relative;
	height: 20vh;
	width: 100%;
}

.how-it-works {

}

.learn-more {

}

.how-can-we-help {

}

.companies {

}

.location-contact {

}

.newsletter {

}

